.basket {
  color: #333333;
}

.basket__list {
  display: -ms-grid;
  display: grid;
  margin: 0 0 60px;
  padding: 0;
  list-style: none;
  grid-row-gap: 32px;
}

.basket__summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 60px 180px;
  background-color: #f4f4fc;
  border-radius: 8px;
}

.basket__summary-order {
  width: 100%;
  max-width: 300px;
}

.basket__summary-order .btn {
  width: 100%;
  margin-top: 32px;
}

.basket__summary-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 16px;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
}

.basket__summary-item:last-of-type {
  margin-bottom: 0;
}

.basket__summary-text--total {
  font-weight: 700;
}

.basket__summary-value--bonus {
  color: #ed6041;
}

.basket__promo {
  width: 100%;
  max-width: 440px;
}

.basket__promo .title--h4 {
  margin-bottom: 13px;
}

.basket-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.basket-form .btn {
  margin-top: 20px;
}

.basket-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  color: #333333;
}

.basket-form form .custom-input {
  width: 308px;
  margin-right: 10px;
}

.basket-form form .custom-input__success,
.basket-form form .custom-input__error {
  top: 3px;
}

.basket-form form .custom-input__sucess {
  top: 3px;
}

.basket-form form label {
  margin-bottom: 8px;
  line-height: 20px;
}

.basket-form form input {
  padding: 8px 20px;
  background-color: #ffffff;
  border: 2px solid #b4b4d7;
  border-radius: 8px;
  outline: #7575e2;
}

.basket-form form input::-webkit-input-placeholder {
  font-weight: 600;
  line-height: 24px;
  color: #b4b4d7;
}

.basket-form form input::-moz-placeholder {
  font-weight: 600;
  line-height: 24px;
  color: #b4b4d7;
}

.basket-form form input:-ms-input-placeholder {
  font-weight: 600;
  line-height: 24px;
  color: #b4b4d7;
}

.basket-form form input::-ms-input-placeholder {
  font-weight: 600;
  line-height: 24px;
  color: #b4b4d7;
}

.basket-form form input::placeholder {
  font-weight: 600;
  line-height: 24px;
  color: #b4b4d7;
}

.basket-form form input:focus {
  border-color: #7575e2;
}

.basket-item {
  position: relative;
  display: -ms-grid;
  display: grid;
  padding-bottom: 32px;
  color: #333333;
  border-bottom: 2px solid #f4f4fc;
  grid-column-gap: 40px;
  -ms-grid-columns: 140px 401px 140px 138px 140px 40px;
  grid-template-columns: 140px 401px 140px 138px 140px 40px;
}

.basket-item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.basket-item__img {
  width: 140px;
  height: 120px;
}

.basket-item__img img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -o-object-fit: cover;
  object-fit: cover;
}

.basket-item__title {
  margin: 0 0 10px;
  font-size: 20px;
  line-height: 32px;
}

.basket-item__list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #b4b4d7;
}

.basket-item__price,
.basket-item__total-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.basket-item__price {
  margin: 0;
}

.basket-item .cross-btn {
  margin-top: 40px;
}

.basket-item--short {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 0;
  padding-bottom: 20px;
  border-bottom: none;
}

.basket-item--short .basket-item__description {
  margin-right: 34px;
  margin-left: 34px;
}

.basket-item--short .basket-item__title {
  margin: 0 0 8px;
  font-size: 16px;
  line-height: 24px;
}

.basket-item--short .basket-item__list {
  margin: 0 0 8px;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 20px;
  color: #9a9ac6;
}

.basket-item--short .basket-item__price {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
