.banners__bullet {
  width: 16px;
  height: 16px;

  background-color: #f4f4fc;
  border-radius: 50%;
  cursor: pointer;
}

.banners__bullet--active {
  background-color: #7575e2;
  cursor: initial;
  pointer-events: none;
}

.banners__pagination--bullets {
  position: absolute;
  bottom: 22px;
  right: 40px;
  z-index: 10;

  display: flex;
  gap: 12px;
}
