.promocodes {
  padding-top: 24px;
  padding-bottom: 24px;
}

.promocodes p {
  color: #525288;
  font-size: 18px;
}

.promocodes__list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 24px;
  padding: 0;
  list-style: none;
}
